<%- include shared/header %>
<div class="m-3">
    <ul class="list-group">
        <% for(var i=0; i<allcomments.length; i++){ %>
            <li class="list-group-item m-1">
                <%=allcomments[i].description %>
                <div class="float-right">
                <a href="#" class="btn btn-success">Upvote</a>
                <a href="#" class="btn btn-danger">DownVote</a>
                </div>
            </li>
            <p>Likes</p><p>Dislikes</p>
        <% } %>
    </ul>
    </div>
    <%- include shared/footer %>