<%- include shared/header %>
<div>
 <h1>
     Comments
 </h1>
 </div>
 <div class="form-group">
        <label for="post">#Tag:</label>
        <input type="text" class="form-control" id="post">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <input type="submit" class="btn btn-primary form-control mt-3" style="display: inline-block">  
    </div> 
    

      <!-- <div class="lists">
          <ul class="list-group">
              <li class="list-group-item">
                   hello
              </li>
          </ul>
      </div> -->
</div>
